<img src="<%= @song_art %>" alt="" height="500" width="500">
<h2><%= @parsed_lyrics.sample %></h2>
<p>tiré de <%= @song_title %></p>
<a href="<%= @song_url  %> ">Read on Genius</a>
<a href="/">Get a new punchline</a>
